header{
  width: 100%;
  height: 80px;
  background-color: black;
}

nav{
  box-sizing: border-box;

}
div{
  display: block;
  position: relative;
}

html,body {
  margin: 0px;
  padding: 0px;
}

body{
  position: relative;
  background: #f2f2f2;
}


li{
  padding: 30px;
}
ul{
   list-style:none;
  height: inherit;
  margin:auto;
  padding-left:0px;
}



a,p{
  padding:0px;
  margin: 0px;
}

a{
  z-index: 4;
  text-decoration: none;
  color:white;
  position: relative;
  vertical-align: middle;
  display: block;
}

p{
  text-align: center;
}

button{
  height: inherit;
  border:0px;
  background:#1b5ac2;
  padding:0px;
  float: right;
  outline: none;
}

input{
  border:0px;
  padding:0px;
}

.Full_category{
  padding:0px 7px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.main_banner{/*임시*/
  margin:0px;
  padding:0px;
  width:120px;
}

.nav_bar{
  display:flex;
  padding:5px 0px;
  height: 70px;
}



.l_height{
  height:inherit;
}

.logo{
  font-size: 20px
}

.left_menu,.center_menu{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: row;
}

.right_menu{/*임시*/
  margin:0px;
  width:240px;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.center_menu{
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.center_menu{
    position: absolute;
}

.nav_item{
  align-items: center;
}

.menu{
  margin:0px 20px;
  font-size: 20px;
}

.genrelist{
  display: list-item;
  text-align: -webkit-match-parent;
}

.mixedModularHome{
  display: list-item;
  text-align: -webkit-match-parent;
}

.Mainlist{
  list-style: none;
}

.select{
  text-align: center;
}

#body{
  width:70%;
  height:3000px;
  left:15%;
}

#head{
  position: sticky;
  top: 0;
  z-index:5;
}

#login,#about{
  height:30px;
  width:70px
}

#such{
  width:160px;
  color:white;
  background-color: black;
}

#about{
  background: black;
  color:white;
}

.select{
  height:30px;
  width: 100%;
}

body {
   background: #212129;
}

::selection {
   background: #212129;
}

.search-wrapper {
    position: absolute;
    transform: translate(-20%, -50%);
    top:50%;
    left:50%;
}

.search-wrapper.active {
  position: absolute;
  transform: translate(-70%, -50%);
  top:50%;
  left:50%;
  z-index:4;
  background:#000;
}

.search-wrapper .input-holder {
    height: 70px;
    width:70px;
    overflow: hidden;
    background: rgba(255,255,255,0);
    border-radius:6px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder {
    width:450px;
    border-radius: 50px;
    background: rgba(0,0,0,0.5);
    transition: all .5s cubic-bezier(0.000, 0.105, 0.035, 1.570);
}

.search-wrapper .input-holder .search-input {
    width:100%;
    height: 50px;
    padding:0px 70px 0 20px;
    opacity: 0;
    position: absolute;
    top:0px;
    left:0px;
    background: transparent;
    box-sizing: border-box;
    border:none;
    outline:none;
    font-family:"Open Sans", Arial, Verdana;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color:#FFF;
    transform: translate(0, 60px);
    transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.3s;
}

.search-wrapper.active .input-holder .search-input {
    opacity: 1;
    transform: translate(0, 10px);
}

.search-wrapper .input-holder .search-icon {
    width:70px;
    height:70px;
    border:none;
    border-radius:6px;
    background: #000;
    padding:0px;
    outline:none;
    position: relative;
    z-index: 2;
    float:right;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-wrapper.active .input-holder .search-icon {
    width: 50px;
    height:50px;
    margin: 10px;
    border-radius: 30px;
}
.search-wrapper .input-holder .search-icon span {
    width:22px;
    height:22px;
    display: inline-block;
    vertical-align: middle;
    position:relative;
    transform: rotate(45deg);
    transition: all .4s cubic-bezier(0.650, -0.600, 0.240, 1.650);
}
.search-wrapper.active .input-holder .search-icon span {
    transform: rotate(-45deg);
}
.search-wrapper .input-holder .search-icon span::before, .search-wrapper .input-holder .search-icon span::after {
    position: absolute;
    content:'';
}
.search-wrapper .input-holder .search-icon span::before {
    width: 4px;
    height: 11px;
    left: 9px;
    top: 18px;
    border-radius: 2px;
    background: #FE5F55;
}

.search-wrapper .input-holder .search-icon span::after {
    width: 14px;
    height: 14px;
    left: 0px;
    top: 0px;
    border-radius: 16px;
    border: 4px solid #FE5F55;
}
.search-wrapper .close {
    position: absolute;
    z-index: 1;
    top:24px;
    right:20px;
    width:25px;
    height:25px;
    cursor: pointer;
    transform: rotate(-180deg);
    transition: all .3s cubic-bezier(0.285, -0.450, 0.935, 0.110);
    transition-delay: 0.2s;
}

.search-wrapper.active .close {
    right:-50px;
    transform: rotate(45deg);
    transition: all .6s cubic-bezier(0.000, 0.105, 0.035, 1.570);
    transition-delay: 0.5s;
}
.search-wrapper .close::before, .search-wrapper .close::after {
    position:absolute;
    content:'';
    background: #FE5F55;
    border-radius: 2px;
}
.search-wrapper .close::before {
    width: 5px;
    height: 25px;
    left: 10px;
    top: 0px;
}
.search-wrapper .close::after {
    width: 25px;
    height: 5px;
    left: 0px;
    top: 10px;
}

/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-viewport{
  margin:0px 100px;
}
.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
	z-index: 10;
}

/*************************************
 * specific styling for #demo3
 ************************************/

#demo3 {
	margin: 40px auto;
}

#demo3 .als-item {
	margin: 0px 5px;
	padding: 4px 0px;
	min-height: 150px;
	min-width: 170px;
	text-align: center;
}

#demo3 .als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#demo3 .als-prev, #demo3 .als-next {
	top: 40px;
}

#demo3 .als-prev {
	left: 2%;
}

#demo3 .als-next {
	right: 2%;
}
